* {
    box-sizing: border-box;
}

html, body {
    background-color:#fff;
    height: 100%;
    font-family: 'Muli', 'Helvetica-Neueu', Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 16px;
}

body, h1, h2, h3, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

svg {
    display: block;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

h1 {
    font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
    font-size: 3.2rem;
    line-height: 1.15;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    line-height: 1.15;
}

h3 {
    font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    line-height: 1.15;
    color: #F44030;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;

}

a {
    color: #3C3636;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
}

.header {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.billboard {
    color:#3C3636;
    height: 100vh;
    position: relative;
}

.billboard__content {
    text-align: left;
}

.billboard__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.billboard__rrss {
    position: absolute;
    align-items: center;
}

.logo {
    display: block;
    background-image: url(img/monogramam.jpg);
    background-repeat: no-repeat;
    width: 150px;
}

.navigation,
.navigation__list {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    display: block;
    padding: 20px 25px;
    transition: color .25s ease-in-out;
}

.nav-link:hover {
    color: #F44030;
}

.navigation__list li:last-child .nav-link {
    padding-right: 0;
}

.social__item {
    display: block;
    padding: 10px;
    margin: 10px;
}

.social__item svg {
    fill: #fff;
    width: 25px;
    height: 25px;
}

/*
.underline::after {
    background: #F44030;
    border-radius: 2px;
    content: '';
    display: block;
    height: 4px;
    margin: 20px auto 0;
    width: 80px;
}
*/

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

.background_proyectos {
    background-color: #FAFAFA;
}

.section {
    padding: 2rem 0;
}

.subtitle__section {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 4rem;
}

.about-image {
    background-image: url(img/fire.jpg);
}

.titular {
    text-align: left;
}

/*
.titular::after {
    background: #F44030;
    border-radius: 2px;
    content: '';
    display: block;
    height: 4px;
    margin: 20px auto 0;
    width: 80px;
}
*/

.text-center {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}

.big {
    font-size: 1rem;
    font-weight: 800;
}

.footer{
    color: #fff;
    padding: 1rem 0;
    text-align: right;
    background: #E51300;
}


/* min-width: 768px / 16 */
@media screen and (min-width: 48em) {
    h3 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .column {
        width: 49.5%;
        width: calc(50% - 10px);
    }
}





